<%- include('./partials/head.ejs') %>


<body>


  <div class="card">
      <div class="imgbx">
          <img src="/assets/hva-pas.jpeg">
        </div>
        <div class="content">
          <div class="details">
              <h2>Primie Ramlal<br><span>Frontend Developer</span></h2>
              <div class="data">
                  <h3>Bio<br><span>Frontend Developer</span></h3>
                  <h3>Leeftijd<br><span>20</span></h3>
                  <h3>plaats<br><span>Amsterdam</span></h3>
              </div>
              <div class="actionbtn">
                  <button><li><a href="https://github.com/Prz6">Github</a></li></button>
                  <button><li><a href="Details.html">Details</a></li></button>
              </div>
          </div>
        </div>
  </div>
 



<%- include('./partials/foot.ejs') %>

